@import "tailwindcss";

@theme{
   --color-themecolor:#202947;
   --color-bordercolor:#383f5a;
   --color-outlinebg:#F9FAFC;
   --color-navtext:#a2a6b9;
   --color-shadow:#f3f4f6;
   --color-textco:#6e819e;
   --color-button:#5c67f7;
   --color-grayborder:#dee7f1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}